@using Core.Enums

@{
    ViewData["Title"] = "ManageNinExam";
}


<div class="card card-primary">

    <div class="card-header">مدیریت آزمون اناگرام </div>
    <div class="card-body">

        <div class="row">

            <div class="col-md-2">
                <div class="card card-info text-center">

                    <div class="card-header">سوالات </div>
                    <div class="card-body">

                        <a class="btn btn-success" asp-action="Index">لیست سوالات</a>
                    </div>
                </div>

            </div>


            <div class="col-md-2">
                <div class="card card-dark text-center">

                    <div class="card-header">پاسخ نامه</div>
                    <div class="card-body">

                        <a class="btn btn-success" asp-action="Index" asp-controller="JobExamResult" asp-area="Admin" asp-route-ExamId="@((int)ExamId.Anageram)">پاسخ نامه</a>
                    </div>
                </div>

            </div>


        </div>
    </div>

</div>
</div>

