@model Core.Dto.ViewModel.Store.FeatureValueDto.FeatureValueAddVM

@{
    ViewData["Title"] = "Create";
}


<div class="col-md-12">
    <div class="card card-success">
        <div class="card-header">
            <h3 class="card-title">دسته بندی-@Model.FeatureTitle</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-12 col-md-4">
                    <form asp-action="Create" id="myform" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="FeatureId" />
                        

                        <div class="form-group">
                            <label asp-for="Value" class="control-label"></label>
                            <input asp-for="Value" class="form-control" />
                            <span asp-validation-for="Value" class="text-danger"></span>

                        </div>
                        <div class="form-group">
                            <label asp-for="Image" class="control-label"></label>
                            <input type="file" asp-for="ImageFile" class="form-control" />
                            <span asp-validation-for="ImageFile" class="text-danger"></span>

                        </div>
                        

                        <div class="form-group">
                            <input type="submit" value="ثبت" class="btn btn-success" />

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
