<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/assets/css/bootstrap.rtl.css">
    <link rel="stylesheet" href="~/assets/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <title>قالب فروشگاهی نیک کالا | پروفایل </title>
</head>
<body>
    
    <!-- end header -->

    <header class="d-lg-none bg-white w-100"><!-- start responsive header-->
        <div class="container">
            <div class="row py-2">

                <div class="col-7">
                    <a href="#mobile-menu" data-bs-toggle="offcanvas"><i class="fa fa-bars mobile-menu-icon"></i></a><!-- mobile menu icon -->
                    <div class="offcanvas offcanvas-start" tabindex="-1" data-bs-scroll="true" id="mobile-menu"><!-- start mobile menu-->

                        <div class="offcanvas-header"><!-- start menu header -->
                            <img src="assets/images/logo.png">
                            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
                        </div><!-- end menu header -->

                        <div class="offcanvas-body px-0">

                            <div class="input-group search-box px-3"><!-- start search box -->
                                <input type="search" class="form-control form-control-lg" placeholder="جستجو در نیک کالا">
                                <button type="submit" class="btn btn-danger"><img src="assets/images/search.png"></button>
                            </div><!-- end search box -->

                            <ul class="mobile-menu-level-1"><!-- start mobile menu level 1 -->
                                <li class="has-mobile-submenu"><a href="#">دسته بندی محصولات</a>

                                    <ul class="mobile-menu-level-2"><!-- start mobile menu level 2 -->
                                        <li class="has-mobile-submenu-2"><a href="#">کالای دیجیتال</a>

                                            <ul class="mobile-menu-level-3"><!-- start mobile menu level 3 -->
                                                <li><a href="search.html">گوشی موبایل</a></li>
                                                <li><a href="search.html">لوازم جانبی گوشی</a></li>
                                                <li><a href="search.html">تبلت</a></li>
                                                <li><a href="search.html">دوربین عکاسی</a></li>
                                            </ul><!-- start mobile menu level 3 -->

                                        </li>
                                        <li><a href="search.html">زیبایی و سلامت</a></li>
                                        <li><a href="search.html">مد و پوشاک</a></li>
                                        <li><a href="search.html">خانه و آشپزخانه</a></li>
                                        <li><a href="search.html">کتاب و لوازم تحریر</a></li>
                                    </ul><!-- end mobile menu level 2 -->

                                </li>
                                <li><a href="#">تخفیف‌ها و پیشنهادها</a></li>
                                <li class="has-mobile-submenu"><a href="#">صفحات</a>
                                
                                    <ul class="mobile-menu-level-2"><!-- start mobile menu level 2 -->
                                        <li><a href="signup.html">ثبت نام / ورود</a></li>
                                        <li class="has-mobile-submenu-2"><a href="#"> محصولات </a>

                                            <ul class="mobile-menu-level-3"><!-- start mobile menu level 3 -->
                                                <li><a href="product.html">محصول موجود</a></li>
                                                <li><a href="product-unavailable.html">محصول ناموجود</a></li>
                                            </ul><!-- start mobile menu level 3 -->

                                        </li>
                                        <li><a href="profile.html">پروفایل کاربر</a></li>
                                        <li><a href="blog.html">وبلاگ</a></li>
                                    </ul><!-- end mobile menu level 2 -->
                                
                                </li>
                                <li><a href="contact-us.html">تماس با ما</a></li>
                                <li><a href="about-us.html">درباره ما</a></li>
                            </ul><!-- end mobiile menu level 1 -->

                        </div>
                    </div><!-- end mobile menu-->
                    <img src="assets/images/logo.png" class="img-fluid"><!-- logo -->
                </div>

                <div class="col-4 d-flex align-items-center justify-content-end"><!-- start signup & login dropdown -->
                    <div class="dropdown">
                        <a href="#" data-bs-toggle="dropdown"><i class="fa fa-user-lock signup-login-icon"></i></a>
                        <ul class="dropdown-menu dropdown-menu-custom"><!-- start dropdown box -->
                            <li class="d-flex">
                                <img src="assets/images/avatar.jpg" class="avatar">
                                <div class="ms-2">                                   
                                    <a href="profile.html" class="font-14 text-dark">امیرحسین رضایی</a>                                   
                                    <a href="profile.html" class="font-12 d-block text-info mt-2">مشاهده حساب کاربری <i class="fa fa-chevron-left align-middle mt-1"></i></a>         
                                </div>
                            </li>
                            <li>
                                <a href="profile.html" class="login-link"><i class="fa fa-shopping-basket text-muted font-14 me-1"></i> سفارش های من</a>
                                <a href="profile.html" class="login-link"><i class="fa fa-gift text-muted font-14 me-1"></i>جوایز نیک کلاب</a> 
                                <a href="#" class="login-link"><i class="fas fa-sign-out-alt text-muted font-14 me-1"></i>خروج از حساب  کاربری</a>
                            </li>
                        </ul><!-- end dropdown box -->
                    </div><!-- end signup & login dropdown -->
                </div>

                <div class="col-1 d-flex align-items-center justify-content-end"><!-- start shopping cart responsive-->
                    <a href="#shopping-cart-responsive" class="position-relative" data-bs-toggle="offcanvas">
                        <img src="assets/images/cart.png">
                        <div class="count">2</div>
                    </a>
                    <div class="offcanvas offcanvas-end" tabindex="-1" data-bs-scroll="true" id="shopping-cart-responsive"><!-- start shopping cart offcanvas -->
                       
                        <div class="offcanvas-header"><!-- start offcanvas header -->
                            <p class="offcanvas-title font-12">سبد خرید (4 کالا)</p>                          
                            <button type="button" class="text-reset btn-close" data-bs-dismiss="offcanvas"></button>  
                        </div><!-- end offcanvas header -->

                        <div class="offcanvas-body"><!-- start cart body -->

                            <div class="row"><!-- start cart item -->
                                <div class="col-4"><img src="assets/images/mobile1.jpg" class="img-fluid img-thumbnail"></div>
                                <div class="col-8 d-flex align-items-center">
                                    <a href="product.html" class="cart-product-title">گوشی موبایل سامسونگ مدل Galaxy A21S SM-A217F/DS</a>
                                </div>
                            </div>
                            <div class="row my-3 border-bottom">
                                <div class="col-6 d-flex">
                                    <span class="number">1 عدد</span>
                                    <span class="color" style="background-color:#d4d4d4;"></span> 
                                    <i class="fa fa-trash cart-delete-btn"></i>
                                </div>
                                <div class="col-6 d-flex justify-content-end">
                                    <p class="cart-product-price">4,169,000 تومان</p>
                                </div>
                            </div><!-- end cart item -->

                            <div class="row"><!-- start cart item -->
                                <div class="col-4"><img src="assets/images/mobile2.jpg" class="img-fluid img-thumbnail"></div>
                                <div class="col-8 d-flex align-items-center">
                                    <a href="product.html" class="cart-product-title">گوشی موبایل سامسونگ مدل Galaxy A21S SM-A217F/DS</a>
                                </div>
                            </div>
                            <div class="row my-3 border-bottom">
                                <div class="col-6 d-flex">
                                    <span class="number">1 عدد</span>
                                    <span class="color" style="background-color:#d4d4d4;"></span> 
                                    <i class="fa fa-trash cart-delete-btn"></i>
                                </div>
                                <div class="col-6 d-flex justify-content-end">
                                    <p class="cart-product-price">4,169,000 تومان</p>
                                </div>
                            </div><!-- end cart item -->

                            <div class="row"><!-- start cart item -->
                                <div class="col-4"><img src="assets/images/mobile3.jpg" class="img-fluid img-thumbnail"></div>
                                <div class="col-8 d-flex align-items-center">
                                    <a href="product.html" class="cart-product-title">گوشی موبایل سامسونگ مدل Galaxy A21S SM-A217F/DS</a>
                                </div>
                            </div>
                            <div class="row my-3 border-bottom">
                                <div class="col-6 d-flex">
                                    <span class="number">1 عدد</span>
                                    <span class="color" style="background-color:#d4d4d4;"></span> 
                                    <i class="fa fa-trash cart-delete-btn"></i>
                                </div>
                                <div class="col-6 d-flex justify-content-end">
                                    <p class="cart-product-price">4,169,000 تومان</p>
                                </div>
                            </div><!-- end cart item -->

                        </div><!-- end cart body --> 
                        
                        <div class="row cart-footer"><!-- start cart footer-->
                           <div class="col-5">
                                <p>مبلغ قابل پرداخت:</p>
                                <p>12,480,000 تومان</p>
                           </div> 
                           <div class="col-7">
                            <a href="login.html" class="btn btn-info font-13 btn-lg ms-4">ورود و ثبت سفارش</a>
                           </div>
                        </div><!-- end cart footer-->

                    </div><!-- end shopping cart offcanvas -->
                </div><!-- end shopping cart responsive-->

            </div>
        </div>
    </header><!-- end responsive header-->

<nav class="d-none d-lg-block navigation"><!-- start main menu -->
    <div class="container">
        <ul class="main-menu">
            <li class="has-mega-menu"><a href="#"> دسته بندی محصولات <i class="fa fa-angle-down"></i></a>
                <ul class="row mega-menu"><!-- start mega menu-->
                    <li class="col-3 mega-menu-box">
                        <ul>
                            <li class="menu-title"><i class="fa fa-angle-left"></i>کالای دیجیتال</li>
                            <li><a href="search.html">گوشی موبایل</a></li>
                            <li><a href="search.html">لوازم جانبی گوشی</a></li>
                            <li><a href="search.html">لپ تاپ</a></li>
                            <li><a href="search.html">لوازم جانبی لپ تاپ</a></li>
                            <li><a href="search.html">تبلت</a></li>
                            <li><a href="search.html">مچ بند و ساعت هوشمند</a></li>
                            <li><a href="search.html">مودم و تجهیزات شبکه</a></li>
                        </ul>
                    </li>
                    <li class="col-3 mega-menu-box" >
                        <ul>
                            <li class="menu-title"><i class="fa fa-angle-left"></i>زیبایی و سلامت</li>
                            <li><a href="search.html">لوازم آرایشی</a></li>
                            <li><a href="search.html">لوازم بهداشتی</a></li>
                            <li><a href="search.html">عطر،ادکلن،اسپری و ست</a></li>
                            <li><a href="search.html">ابزار سلامت و طبی</a></li>
                            <li><a href="search.html">لوازم شخصی برقی</a></li>
                        </ul>
                        <ul>
                            <li class="menu-title"><i class="fa fa-angle-left"></i>مد و پوشاک</li>
                            <li><a href="search.html">لباس زنانه</a></li>
                            <li><a href="search.html">لباس مردانه</a></li>
                        </ul>
                    </li>
                    <li class="col-3 mega-menu-box" >
                        <ul>
                            <li class="menu-title"><i class="fa fa-angle-left"></i>خانه و آشپزخانه</li>
                            <li><a href="search.html">صوتی و تصویری</a></li>
                            <li><a href="search.html">لوازم برقی خانگی</a></li>
                            <li><a href="search.html">فرش ماشینی، دستبافت، تابلو</a></li>
                        </ul>
                        <ul>
                            <li class="menu-title"><i class="fa fa-angle-left"></i>اسباب بازی، کودک و نوزاد</li>
                            <li><a href="search.html">پوشاک کودک و نوزاد</a></li>
                            <li><a href="search.html">بازی و سرگرمی کودک</a></li>
                            <li><a href="search.html">سلامت، ایمنی و مراقبت</a></li>
                        </ul>
                    </li>
                    <li class="col-3 mega-menu-box" >
                        <ul>
                            <li class="menu-title"><i class="fa fa-angle-left"></i>کتاب و لوازم تحریر</li>
                            <li><a href="search.html">کتاب و مجله</a></li>
                            <li><a href="search.html">کتاب صوتی</a></li>
                            <li><a href="search.html">لوازم تحریر</a></li>
                        </ul>
                        <a href="#" class="d-block"><img src="assets/images/menu-pic.jpg" class="img-fluid rounded mt-3"></a>
                    </li>
                </ul><!-- end mega menu-->
            </li>
            <li><a href="search.html">تخفیف‌ها و پیشنهادها</a></li>
            <li class="has-sub-menu"><a href="#">صفحات <i class="fa fa-angle-down"></i></a>
                <ul class="sub-menu"><!-- start sub menu-->
                    <li><a href="signup.html">ثبت نام / ورود</a></li>
                    <li class="has-sub-menu-level-2"><a href="#">محصولات</a><i class="fa fa-angle-down"></i>
                        <ul class="sub-menu-level-2"><!-- start sub menu level 2 -->
                            <li><a href="product.html">محصول موجود</a></li>
                            <li><a href="product-unavailable.html">محصول ناموجود</a></li>
                            <li><a href="404.html">خطای 404</a></li>
                        </ul><!-- end sub menu level 2 -->
                    </li>
                    <li><a href="profile.html">پروفایل کاربر</a></li>
                    <li><a href="blog.html">وبلاگ</a></li>
                    <li><a href="cart.html">سبد خرید</a></li>
                </ul><!-- end sub menu-->
            </li>
            <li><a href="contact-us.html">تماس با ما</a></li>
            <li><a href="about-us.html">درباره ما</a></li>
        </ul> 
    </div>
</nav>

<!-- end main menu -->



<main><!-- start main -->
<div class="container"> 
@RenderBody()
</div>
</main><!-- end main -->
    <footer>
        <!-- start footer -->
        <div class="container">
            <div class="row footer-svg-icons border-bottom mx-2 py-2">
                <div class="col-6 col-md text-center"><img src="assets/images/1.svg"><p>تحویل اکسپرس</p></div>
                <div class="col-6 col-md text-center"><img src="assets/images/2.svg"><p>پشتیبانی 24 ساعته </p></div>
                <div class="col-6 col-md text-center"><img src="assets/images/3.svg"><p>پرداخت در محل </p></div>
                <div class="col-6 col-md text-center"><img src="assets/images/4.svg"><p>7 روز ضمانت بازگشت کالا</p></div>
                <div class="col-12 col-md text-center"><img src="assets/images/5.svg"><p>ضمانت اصل بودن کالا</p></div>
            </div>
            <div class="row">
                <!-- start footer box -->
                <div class="col-lg-2 col-sm-6 footer-box">
                    <p>با نیک کالا </p>
                    <ul class="ps-0">
                        <li class="mb-3"><a href="contact-us.html">اتاق خبر نیک کالا</a></li>
                        <li class="mb-3"><a href="contact-us.html">فرصت های شغلی</a></li>
                        <li class="mb-3"><a href="contact-us.html">تماس با نیک کالا</a></li>
                        <li class="mb-3"><a href="contact-us.html">درباره نیک کالا</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-sm-6 footer-box">
                    <p>خدمات مشتریان</p>
                    <ul class="ps-0">
                        <li class="mb-3"><a href="contact-us.html">پرسش‌های متداول</a></li>
                        <li class="mb-3"><a href="contact-us.html">شرایط استفاده</a></li>
                        <li class="mb-3"><a href="contact-us.html">حریم خصوصی</a></li>
                        <li class="mb-3"><a href="contact-us.html">گزارش تخلف</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-sm-6 footer-box">
                    <p>راهنمای خرید از نیک کالا</p>
                    <ul class="ps-0">
                        <li class="mb-3"><a href="contact-us.html">نحوه ثبت سفارش</a></li>
                        <li class="mb-3"><a href="contact-us.html">رویه ارسال سفارش</a></li>
                        <li class="mb-3"><a href="contact-us.html">شیوه‌های پرداخت</a></li>
                        <li class="mb-3"><a href="contact-us.html">رویه‌های بازگرداندن کالا</a></li>
                    </ul>
                </div>
                <div class="col-lg-5 col-sm-6 footer-box">
                    <p class="mb-4">همراه ما باشید!</p>
                    <div class="social-list">
                        <a href="#"><i class="fab fa-instagram social-media"></i></a>
                        <a href="#"><i class="fab fa-telegram social-media"></i></a>
                        <a href="#"><i class="fab fa-linkedin social-media"></i></a>
                        <a href="#"><i class="fab fa-twitter social-media"></i></a>
                    </div>
                    <p>با ثبت ایمیل، از جدید‌ترین تخفیف‌ها با‌خبر شوید</p>
                    <div class="input-group mt-4 mb-5 email-box">
                        <input type="email" class="form-control form-control-lg" placeholder="ایمیل شما">
                        <button type="submit" class="btn btn-danger font-13 px-3">ارسال</button>
                    </div>
                </div>
            </div><!-- end footer box -->
            <div class="row d-none d-sm-block">
                <!-- start app download -->
                <div class="col-12 app-download">
                    <div class="row">
                        <div class="col-5 d-flex align-items-center">
                            <img src="assets/images/footerLogo.png" class="p-2">
                            <span class="text-white ms-2"> دانلود اپلیکیشن</span>
                        </div>
                        <div class="col-7 d-flex align-items-center justify-content-end">
                            <a href="#"><img src="assets/images/bazzar.svg" class="img-fluid me-2 rounded"></a>
                            <a href="#"><img src="assets/images/sib-app.svg" class="img-fluid rounded"></a>
                        </div>
                    </div>
                </div>
            </div><!-- end app download -->
            <div class="row">
                <!-- start footer details -->
                <div class="col-md-8 col-12 footer-details ps-0">
                    <p>فروشگاه اینترنتی نیک کالا، بررسی، انتخاب و خرید آنلاین</p>
                    <span>
                        نیک کالا به عنوان یکی از قدیمی‌ترین فروشگاه های
                        اینترنتی با بیش از یک دهه تجربه،
                        با پایبندی به سه اصل، پرداخت در محل، هفت روز ضمانت بازگشت کالا و تضمین اصل‌بودن
                        کالا موفق شده تا همگام با فروشگاه‌های معتبر جهان، به بزرگ‌ترین فروشگاه اینترنتی
                        ایران تبدیل شود.
                    </span>
                </div>
                <div class="col-md-4 col-12 d-flex align-items-center justify-content-end footer-pic pe-0">
                    <img src="assets/images/f-1.png" class="footer-detail-pic">
                    <img src="assets/images/f-2.png" class="footer-detail-pic">
                </div>
            </div><!-- end footer details -->
            <div class="row">
                <!-- start copy right -->
                <div class="col-12 copy-right">
                    <p>
                        استفاده از مطالب فروشگاه اینترنتی نیک کالا فقط برای مقاصد غیرتجاری و
                        با ذکر منبع بلامانع است. کلیه حقوق این سایت متعلق به یاس دیزاین می‌باشد.
                    </p>
                </div>
            </div><!-- end copy right -->
        </div>
        <a href="#" class="topbutton"><i class="fa fa-chevron-up"></i></a><!-- top button -->
    </footer><!-- end footer -->




    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/jquery.simple.timer.js"></script>
    <script src="~/assets/js/script.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
