@model Core.Dto.ViewModel.User.LoginViewModel
@{
    ViewData["Title"] = "فراموشی رمز عبور";
    Layout = null;
}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8" />
    <title>فراموشی رمز عبور</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
        html {
            height: 100%;
        }

        body {
            background-color: #f8f9fa;
            min-height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            direction: rtl;
            font-family: 'Vazir', sans-serif;
            background-image: url(/img/background.jpg);
            background-repeat: no-repeat;
            background-size: cover
        }

        .signup-login-box {
            background: white;
            padding: 2rem;
            border-radius: 16px;
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
            width: 100%;
            max-width: 450px;
        }

            .signup-login-box img {
                display: block;
                margin: 0 auto 1.5rem auto;
                max-width: 150px;
            }

        .signup-login-input {
            border-radius: 10px;
        }

        .login-btn {
            width: 100%;
            font-size: 16px;
            border-radius: 10px;
        }

    </style>
    <partial name="_HeaderLink" />
</head>
<body>
    <div class="col-10 col-md-7 col-lg-5 signup-login-box">
        <!-- start signup & login box -->
        <img src="~/img/logo.png" alt="لوگو">

        <form asp-action="ForgetPassword">
            <div asp-validation-summary="All" class="text-danger mb-3 me-5"></div>
            <div class="input-group signup-login-form mobile-number mb-3">
                <!-- start mobile number input -->
                <input name="Email" type="email" class="form-control form-control-lg signup-login-input text-center" placeholder="ایمیل خود را وارد فرمایید ">
            </div><!-- end mobile number input -->

            <button type="submit" class="btn btn-danger d-block font-12 mx-auto mb-4 remember-btn">
                <!-- remember btn -->
                بازیابی
            </button>

            <p>کاربر جدید هستید؟ <a asp-action="Register" class="underline">ثبت‌ نام در نورمهر </a></p>

        </form>
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
        <partial name="_Message" />
        <partial name="_FooterLink" />
    }
</body>
</html>
