@model Core.Dto.ViewModel.User.ResetPasswordViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8" />
    <title>ورود به سیستم</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
        html {
            height: 100%;
        }

        body {
            background-color: #f8f9fa;
            min-height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            direction: rtl;
            font-family: 'Vazir', sans-serif;
            background-image: url(/img/background.jpg);
            background-repeat: no-repeat;
            background-size: cover
        }

        .signup-login-box {
            background: white;
            padding: 2rem;
            border-radius: 16px;
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
            width: 100%;
            max-width: 450px;
        }

            .signup-login-box img {
                display: block;
                margin: 0 auto 1.5rem auto;
                max-width: 150px;
            }

        .signup-login-input {
            border-radius: 10px;
        }

        .login-btn {
            width: 100%;
            font-size: 16px;
            border-radius: 10px;
        }

    </style>
    <partial name="_HeaderLink" />
</head>
<body>
    <div class="col-10 col-md-7 col-lg-5 signup-login-box">
        <!-- start signup & login box -->
        <img src="~/img/logo.png" alt="لوگو">
        <form asp-action="ResetPassword">
            <input type="hidden" asp-for="ActiveCode" />
            <div asp-validation-summary="All" class="text-danger mb-3 me-5"></div>
            <div class="input-group signup-login-form password mb-3">
                <!-- start password input -->
                <input asp-for="PassWord" type="password" class="form-control form-control-lg signup-login-input " placeholder="رمز عبور جدید">
            </div><!-- end password input -->

            <div class="input-group signup-login-form password mb-3">
                <!-- start password input -->
                <input asp-for="RePassword" type="password" class="form-control form-control-lg signup-login-input" placeholder="تکرار رمز عبور ">
            </div><!-- end password input -->

            <button type="submit" class="btn btn-danger d-block font-12 mx-auto mb-4 remember-btn">
                <!-- remember btn -->
                ذخیره
            </button>

        </form>
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
        <partial name="_Message" />
        <partial name="_FooterLink" />
    }
</body>
</html>