@model IEnumerable<Core.Dto.ViewModel.Exam.ShowExamToUserViewModel>
@{
    ViewData["Title"] = "Index";
}
<div class="card card-primary mt-3">
    <div class="card-header text-center">نتیجه آزمون رغبت سنجی</div>
    <div class="card-body">
        <form method="post" asp-action="SubmitExam">
            @foreach (var QuestionItem in Model.GroupBy(q => new { q.QuestionId, q.QuestionTitle }))
            {
                <div>
                    <h6>@QuestionItem.Key.QuestionTitle</h6>
                    <hr />
                    @foreach (var OptionItem in QuestionItem.GroupBy(o => new { o.OptionId, o.OptionTitle }))
                    {
                        <h4>@OptionItem.Key.OptionTitle)</h4>
                        @foreach (var SubOptionItem in OptionItem)
                        {
                            <label>
                                <input type="checkbox" name="SelectedOptions[@QuestionItem.Key.QuestionId][@OptionItem.Key.OptionId][]" value="@SubOptionItem.subOptionId" />
                                @SubOptionItem.subOptionTitle
                            </label>
                            <br />
                        }
                        <hr />
                    }
                </div>

            }
         
        </form>

    </div>

</div>
