@model Domain.Exam.ExamResultFinal
@{
    ViewData["Title"] = "ShowMbtiResult";
}
<div class="card card-primary">
    <div class="card-header">
        @Model.Descript
    </div>
    <div class="card-body">

        <h4>  رضایت شغلی تیپهای @Model.Title با انجام کارهایی با شرایط زیر حاصل میشود. </h4>

            @Html.Raw(Model.FinalResult.Replace(".", ".<br>"))




    </div>
</div>



