@model Core.Dto.ViewModel.User.ChangePasswordViewModel
@{
    ViewData["Title"] = "تغییر رمز عبور";
    Layout = "_AdminLayout";
}
<div class="col-md-12">
    <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title">تغییر رمز عبور</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <form asp-action="CHangePassword" id="myform" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="OldPassWord" class="control-label"></label>
                            <input asp-for="OldPassWord" type="password" class="form-control" />
                            <span asp-validation-for="OldPassWord" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PassWord" class="control-label"></label>
                            <input asp-for="PassWord" type="password" class="form-control" />
                            <span asp-validation-for="PassWord" class="text-danger"></span>

                        </div>
                        <div class="form-group">
                            <label asp-for="RePassword" class="control-label"></label>
                            <input asp-for="RePassword" type="password" class="form-control" />
                            <span asp-validation-for="RePassword" class="text-danger"></span>

                        </div>

                        <div class="form-group">
                            <input type="submit" value="ثبت" class="btn btn-info" />


                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>