@model Core.Dto.ViewModel.Exam.ShowExamOfUserViewModel
@{
    ViewData["Title"] = "GetExamOfUser";
}

<div class="col-md-12">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">لیست</h3>
        </div>
        <div class="card-body">
           
            <table class="table table-responsive table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.examLists.FirstOrDefault().Title)
                        </th>
                        

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.examLists)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                           
                            <td>
                                <a asp-action="UserExamInfo" class="btn btn-info" asp-route-UserId="@Model.UserId" asp-route-ExamId="@item.Id">نتیجه</a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>


